{{template "admin" .}}

{{define "page-title"}}
    Best Sellers
{{end}}

{{define "css"}}
    <link href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css rel=stylesheet>
    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css rel=stylesheet>
{{end}}

{{define "content"}}
    <div class="col-md-12 mt-2">

        <p class="mb-1">Top selling items across all categories.</p>

        {{$res := index .Data "sampleProducts"}}
        <br>
        <table id="bs-table" class="table table-striped table-hover mt-4">
            <thead>
            <tr>
                <th><i class="fa fa-question-circle"></i> ASIN</th>
                <th><i class="fa fa-tag"></i> Product</th>
                <th><i class="fa fa-dollar"></i> Est. Weekly Sales</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {{range $res}}
            <tr>
                <td>{{.ASIN}}</td>
                <td>{{.Name}}</td>
                <td>${{.WeeklySales}}</td>
                <td>
                    <button class="btn btn-success btn-xs"><i class="fa fa-external-link"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="fa fa-link"></i></button>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>

{{end}}

{{define "js"}}

<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>

<script>
    $(document).ready(function() {
        $('#bs-table').DataTable({
            order: [[2, 'desc']],
            paging: false,
            searching: false,
            info: false,
        });
    });
</script>

{{end}}