{{template "admin" .}}

{{define "page-title"}}
    Import Data
{{end}}

{{define "content"}}
    <div class="col-md-12 mt-2">
        Import stock quantity data for products already in our database. Only .csv files are accepted.
        <form enctype="multipart/form-data" class="mt-3" action="/admin/post-upload-data" method="post">
            <input type="file" name="uploadfile" accept="text/csv"/>
            <input type="hidden" name="token" value="{{.}}"/>
            <input type="submit" value="Upload" />
        </form>
    </div>
{{end}}